.post{
    position: absolute;
    height: 150px;
    left: 12%;
    right: 33.97%;
    top: calc(100% - 80px/2 - 2.5px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    color: #333333;
}
.name span{
    display: flex;
    color: #036582;
    font-size: 15px;
}
.post .title p{
    display: flex;
    color: #333333;
    font-size: 34px;
    left: -20px;
}